<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.mybatis.board_qaMapper">
	<insert id="savedata">
		INSERT INTO BOARD_QA(QA_CATEGORY , USER_ID , QA_CONTENT , QA_LOGTIME , QA_PWD , QA_REPLY , QA_SEQ , QA_STATE , QA_SUBJECT) 
		VALUES(#{qa_category},#{user_id},#{qa_content},sysdate,#{qa_pwd},0,qa_seq.nextval,#{qa_state},#{qa_subject})
	</insert>
</mapper>